body{
    font-family:Verdana;
    margin:1px;
}
section{
    margin:10px 0px;
}

article{
    border:1px solid #000;
    display:inline-block;
    border-radius:10px;
}
header{
    border:1px solid #000;
}
